### In this notebook, we will look at some of the data manipulation and cleaning techniques we can apply in Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_noise = pd.read_csv('../files/Data_O3_L1_new.csv')

In [3]:
df_movies = pd.read_csv('../files/movie_metadata.csv')

In [4]:
df_noise.head()

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1.252630e+09,30.734,14050.200,1.730000e-19,3980.241,8.250,7940.48291,0.0,0.0,1.0,xg6I5indL7,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1.242889e+09,39.789,12802.310,1.020000e-19,3980.241,10.669,7940.48291,0.0,0.0,1.0,puprGzhePt,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1.243172e+09,39.789,12470.565,1.030000e-19,3980.241,7.875,7940.48291,0.0,0.0,1.0,wVuUvshkGV,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1.241942e+09,39.789,10580.012,8.610000e-20,3980.241,9.073,7940.48291,0.0,0.0,1.0,UR5QrA8PQs,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1.240748e+09,39.789,10457.896,1.030000e-19,3980.241,8.500,7940.48291,0.0,0.0,1.0,nKTwtpEv3b,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314

In [5]:
df_movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### String manipulation

In [6]:
df_noise['label'].unique()

array(['Extremely_Loud', 'Scratchy', 'Whistle', 'Tomte',
       'Fast_Scattering', 'Power_Line', 'Blip_Low_Frequency',
       'Low_Frequency_Burst', 'Blip', 'Scattered_Light', 'Koi_Fish',
       'Repeating_Blips'], dtype=object)

### replace _ with space

In [7]:
df_noise['label'] = df_noise['label'].str.replace('_',' ')

In [8]:
df_noise['label'].unique()

array(['Extremely Loud', 'Scratchy', 'Whistle', 'Tomte',
       'Fast Scattering', 'Power Line', 'Blip Low Frequency',
       'Low Frequency Burst', 'Blip', 'Scattered Light', 'Koi Fish',
       'Repeating Blips'], dtype=object)

***
***

In [9]:
df_noise['id']

0       xg6I5indL7
1       puprGzhePt
2       wVuUvshkGV
3       UR5QrA8PQs
4       nKTwtpEv3b
           ...
9994    ySvGzfZovB
9995    aRa37WWwqg
9996    4VgGM4NtCF
9997    Jix18Y1VTL
9998    JQKGOLkaoA
Name: id, Length: 9999, dtype: object

### replace any number with empty string

In [10]:
df_noise['id'] = df_noise['id'].replace(to_replace='\d',value='',regex=True)

In [11]:
df_noise['id']

0          xgIindL
1       puprGzhePt
2       wVuUvshkGV
3         URQrAPQs
4        nKTwtpEvb
           ...
9994    ySvGzfZovB
9995      aRaWWwqg
9996      VgGMNtCF
9997       JixYVTL
9998    JQKGOLkaoA
Name: id, Length: 9999, dtype: object

#### Numbers are gone. \d stands for any digit

***
***

In [12]:
df_movies['genres']

0       Action|Adventure|Fantasy|Sci-Fi
1              Action|Adventure|Fantasy
2             Action|Adventure|Thriller
3                       Action|Thriller
4                           Documentary
                     ...
5038                       Comedy|Drama
5039       Crime|Drama|Mystery|Thriller
5040              Drama|Horror|Thriller
5041               Comedy|Drama|Romance
5042                        Documentary
Name: genres, Length: 5043, dtype: object

## Split
#### Only use the first genre and define it as a new column with name primary_genre

In [13]:
df_movies['genres'].str.split('|')

0       [Action, Adventure, Fantasy, Sci-Fi]
1               [Action, Adventure, Fantasy]
2              [Action, Adventure, Thriller]
3                         [Action, Thriller]
4                              [Documentary]
                        ...
5038                         [Comedy, Drama]
5039       [Crime, Drama, Mystery, Thriller]
5040               [Drama, Horror, Thriller]
5041                [Comedy, Drama, Romance]
5042                           [Documentary]
Name: genres, Length: 5043, dtype: object

#### Now for each row, we can selec the first element and make a new column with that.

In [14]:
df_movies['primary_genre'] = [i[0] for i in df_movies['genres'].str.split('|').tolist()]

In [15]:
df_movies['primary_genre'].head()

0         Action
1         Action
2         Action
3         Action
4    Documentary
Name: primary_genre, dtype: object

### Tada 😁

***
***

In [16]:
df_movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,primary_genre
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,Action
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,Action
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,Action
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,Action
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,Documentary

### Add a new column that shows language and country separated by a comma

In [17]:
df_movies['language'] + ', ' + df_movies['country']

0          English, USA
1          English, USA
2           English, UK
3          English, USA
4                   NaN
             ...
5038    English, Canada
5039       English, USA
5040       English, USA
5041       English, USA
5042       English, USA
Length: 5043, dtype: object

In [18]:
df_movies['lang_country'] = df_movies['language'] + ', ' + df_movies['country']

In [19]:
df_movies['lang_country']

0          English, USA
1          English, USA
2           English, UK
3          English, USA
4                   NaN
             ...
5038    English, Canada
5039       English, USA
5040       English, USA
5041       English, USA
5042       English, USA
Name: lang_country, Length: 5043, dtype: object

***
***

### Changing dtypes, rounding

In [20]:
df_noise.head()

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1.252630e+09,30.734,14050.200,1.730000e-19,3980.241,8.250,7940.48291,0.0,0.0,1.0,xgIindL,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1.242889e+09,39.789,12802.310,1.020000e-19,3980.241,10.669,7940.48291,0.0,0.0,1.0,puprGzhePt,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1.243172e+09,39.789,12470.565,1.030000e-19,3980.241,7.875,7940.48291,0.0,0.0,1.0,wVuUvshkGV,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1.241942e+09,39.789,10580.012,8.610000e-20,3980.241,9.073,7940.48291,0.0,0.0,1.0,URQrAPQs,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1.240748e+09,39.789,10457.896,1.030000e-19,3980.241,8.500,7940.48291,0.0,0.0,1.0,nKTwtpEvb,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314

### Round peakFreq, snr, centralFreq and duration and bandwidth to 1 decimal place

In [21]:
df_noise['peakFreq'].round(1)

0       30.7
1       39.8
2       39.8
3       39.8
4       39.8
        ...
9994    39.0
9995    36.6
9996    27.3
9997    27.3
9998    30.3
Name: peakFreq, Length: 9999, dtype: float64

In [22]:
df_noise[['peakFreq','snr','centralFreq','duration','bandwidth']].round(1)

      peakFreq      snr  centralFreq  duration  bandwidth
0         30.7  14050.2       3980.2       8.2     7940.5
1         39.8  12802.3       3980.2      10.7     7940.5
2         39.8  12470.6       3980.2       7.9     7940.5
3         39.8  10580.0       3980.2       9.1     7940.5
4         39.8  10457.9       3980.2       8.5     7940.5
...        ...      ...          ...       ...        ...
9994      39.0     10.6       3803.3       1.4     7560.8
9995      36.6     10.5       3986.9       3.6     7927.1
9996      27.3     10.5       3300.4       1.5     6562.9
9997      27.3     10.4       3588.9       2.0     7153.9
9998      30.3     10.3       2761.7       1.1     5477.6

[9999 rows x 5 columns]

In [23]:
cols_round = ['peakFreq','snr','centralFreq','duration','bandwidth']
df_noise[cols_round] = df_noise[cols_round].round(1)

In [24]:
df_noise.head()

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1.252630e+09,30.7,14050.2,1.730000e-19,3980.2,8.2,7940.5,0.0,0.0,1.0,xgIindL,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1.242889e+09,39.8,12802.3,1.020000e-19,3980.2,10.7,7940.5,0.0,0.0,1.0,puprGzhePt,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1.243172e+09,39.8,12470.6,1.030000e-19,3980.2,7.9,7940.5,0.0,0.0,1.0,wVuUvshkGV,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1.241942e+09,39.8,10580.0,8.610000e-20,3980.2,9.1,7940.5,0.0,0.0,1.0,URQrAPQs,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1.240748e+09,39.8,10457.9,1.030000e-19,3980.2,8.5,7940.5,0.0,0.0,1.0,nKTwtpEvb,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314

***
***

In [25]:
type(df_noise['GPStime'].iloc[0])

numpy.float64

### Change the dtype of GPStime from float to int

In [26]:
df_noise['GPStime'].astype(int)

0       1252629739
1       1242889305
2       1243171636
3       1241942320
4       1240748213
           ...
9994    1243630319
9995    1249220142
9996    1243351241
9997    1253363214
9998    1244822377
Name: GPStime, Length: 9999, dtype: int64

In [27]:
df_noise['GPStime'] = df_noise['GPStime'].astype(int)

In [28]:
df_noise['GPStime'].iloc[0]

1252629739

In [29]:
df_noise.head()

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1252629739,30.7,14050.2,1.730000e-19,3980.2,8.2,7940.5,0.0,0.0,1.0,xgIindL,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1242889305,39.8,12802.3,1.020000e-19,3980.2,10.7,7940.5,0.0,0.0,1.0,puprGzhePt,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1243171636,39.8,12470.6,1.030000e-19,3980.2,7.9,7940.5,0.0,0.0,1.0,wVuUvshkGV,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1241942320,39.8,10580.0,8.610000e-20,3980.2,9.1,7940.5,0.0,0.0,1.0,URQrAPQs,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1240748213,39.8,10457.9,1.030000e-19,3980.2,8.5,7940.5,0.0,0.0,1.0,nKTwtpEvb,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314

In [30]:
df_noise['GPStime']

0       1252629739
1       1242889305
2       1243171636
3       1241942320
4       1240748213
           ...
9994    1243630319
9995    1249220142
9996    1243351241
9997    1253363214
9998    1244822377
Name: GPStime, Length: 9999, dtype: int64

### The column type is int64 and the values are in integer format

***
***

## sort_values
### In the above dataframe, we an see it is not sorted by the GPStime, so next we will sort it with GPStime

In [31]:
df_noise.sort_values(by='GPStime',inplace=True)

In [32]:
df_noise

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
5940,1238166110,27.9,8.9,2.190000e-22,463.5,1.2,882.6,0.0,0.0,1.0,nfxymohGTq,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3453,1238166250,39.9,10.4,1.170000e-22,43.6,1.5,42.8,0.0,0.0,1.0,fCQeiruz,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3846,1238166252,42.5,13.9,1.380000e-22,51.4,1.4,58.3,0.0,0.0,1.0,tQizpTltV,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3371,1238166255,48.2,14.9,1.150000e-22,3951.0,1.4,7849.3,0.0,0.0,1.0,xYOfmsec,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4957,1238166257,45.3,15.4,1.360000e-22,3617.9,2.2,7194.2,0.0,0.0,1.0,iJkqGSYsjg,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7196,1253964576,30.7,8.1,1.390000e-22,1031.9,0.8,2017.6,0.0,0.0,1.0,dzkkqMNMpd,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2688,1253965990,39.8,17.7,1.780000e-22,1462.3,0.7,2893.9,0.0,0.0,1.0,yNIWIjTNy,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
2411,1253967726,39.8,30.4,2.810000e-22,1021.0,1.2,2011.4,0.0,0.0,1.0,yPJvnICV,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
7030,1253968450,217.7,2356.1,7.880000e-21,3981.4,4.3,7938.1,0.0,0.0,1.0,zKgtWgtcGR,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
1911,1253970922,39.8,19.0,1.770000e-22,3368.2,0.8,6698.6,0.0,0.0,1.0,nvDZBhXM,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657

### Now the index is messed up, we need to reset the index

In [33]:
df_noise = df_noise.reset_index(drop=True)

In [34]:
df_noise

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1238166110,27.9,8.9,2.190000e-22,463.5,1.2,882.6,0.0,0.0,1.0,nfxymohGTq,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1238166250,39.9,10.4,1.170000e-22,43.6,1.5,42.8,0.0,0.0,1.0,fCQeiruz,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1238166252,42.5,13.9,1.380000e-22,51.4,1.4,58.3,0.0,0.0,1.0,tQizpTltV,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1238166255,48.2,14.9,1.150000e-22,3951.0,1.4,7849.3,0.0,0.0,1.0,xYOfmsec,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1238166257,45.3,15.4,1.360000e-22,3617.9,2.2,7194.2,0.0,0.0,1.0,iJkqGSYsjg,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1253964576,30.7,8.1,1.390000e-22,1031.9,0.8,2017.6,0.0,0.0,1.0,dzkkqMNMpd,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
9995,1253965990,39.8,17.7,1.780000e-22,1462.3,0.7,2893.9,0.0,0.0,1.0,yNIWIjTNy,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
9996,1253967726,39.8,30.4,2.810000e-22,1021.0,1.2,2011.4,0.0,0.0,1.0,yPJvnICV,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
9997,1253968450,217.7,2356.1,7.880000e-21,3981.4,4.3,7938.1,0.0,0.0,1.0,zKgtWgtcGR,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
9998,1253970922,39.8,19.0,1.770000e-22,3368.2,0.8,6698.6,0.0,0.0,1.0,nvDZBhXM,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657

### Looks good now.

# Data Cleaning

In [35]:
df_movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,primary_genre,lang_country
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,Action,"English, USA"
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,Action,"English, USA"
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,Action,"English, UK"
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,Action,"English, USA"
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,Documentary,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,Comedy,"English, Canada"
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,Crime,"English, USA"
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,Drama,"English, USA"
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,Comedy,"English, USA"
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,Documentary,"English, USA"

### Removing the duplicate movies

In [36]:
df_movies['movie_title'].duplicated().sum()

126

In [37]:
df_movies.drop_duplicates('movie_title', inplace=True)

### Let's look at the number of null values in each column of the movies dataframe

In [38]:
df_movies.isnull().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        863
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
primary_genre                  0
lang_country                  15
dtype: int64

### There are many ways to deal with missing values, such as replacing them with
**Mean of the column or median of the column**

**the column value in the row above (ffill) or row below (bfill)**

**Or simply deleting the row with missing values**

### There is no one particular method that works all the time.

### Color

### We can find out the first movie (by year) that was made in Color

In [39]:
df_movies[df_movies['color']=='Color'].sort_values(by='title_year')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,primary_genre,lang_country
4449,Color,William Cottrell,145.0,83.0,0.0,31.0,Billy Gilbert,82.0,184925485.0,Animation|Family|Fantasy|Musical,...,USA,Approved,2000000.0,1937.0,47.0,7.7,1.37,0,Animation,"English, USA"
3970,Color,Victor Fleming,157.0,226.0,149.0,248.0,George Reeves,503.0,198655278.0,Drama|History|Romance|War,...,USA,G,3977000.0,1939.0,384.0,8.2,1.37,16000,Drama,"English, USA"
4225,Color,James Algar,99.0,120.0,11.0,NaN,Deems Taylor,16.0,76400000.0,Animation|Family|Fantasy|Music,...,USA,G,2280000.0,1940.0,0.0,7.8,1.37,3000,Animation,"English, USA"
1143,Color,Norman Ferguson,105.0,88.0,3.0,40.0,Dickie Jones,1000.0,84300000.0,Animation|Family|Fantasy|Musical,...,USA,Approved,2600000.0,1940.0,48.0,7.5,1.37,0,Animation,"English, USA"
4647,Color,James Algar,116.0,70.0,11.0,8.0,Donnie Dunagan,16.0,102797150.0,Animation|Drama|Family,...,USA,Approved,NaN,1942.0,12.0,7.4,1.33,0,Animation,"English, USA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,Color,NaN,75.0,60.0,NaN,833.0,Masi Oka,1000.0,NaN,Drama|Fantasy|Sci-Fi|Thriller,...,USA,TV-14,NaN,NaN,923.0,7.7,16.00,0,Drama,"English, USA"
4803,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,...,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526,Animation,"English, USA"
4819,Color,NaN,23.0,43.0,NaN,576.0,Tracy Spiridakos,2000.0,NaN,Action|Adventure|Drama|Sci-Fi,...,USA,TV-14,NaN,NaN,821.0,6.7,16.00,17000,Action,"English, USA"
4869,Color,NaN,11.0,58.0,NaN,250.0,James Norton,887.0,NaN,Crime|Drama,...,UK,TV-MA,NaN,NaN,340.0,8.5,16.00,10000,Crime,"English, UK"
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,Crime,"English, USA"

## fillna
### From above we can see first color movie was made in 1937, thus for any missing value in Color column, we can fill Black and White for any movie before 1937 and Color for any movie after that using the fillna method

In [40]:
for i in df_movies['title_year']:
    if i > 1937.0:
        f_c = 'Color'
        df_movies['color'].fillna(f_c, inplace=True)  
    else:
        f_c = 'Black and White'
        df_movies['color'].fillna(f_c, inplace=True)

In [41]:
df_movies['color'].isna().sum()

0

In [42]:
df_movies['color'].value_counts()

Color               4713
 Black and White     204
Name: color, dtype: int64

In [43]:
### Let's check again the missing values
df_movies.isna().sum()

color                          0
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        863
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
primary_genre                  0
lang_country                  15
dtype: int64

In [44]:
len(df_movies)

4917

## dropna
### Deleting any rows with more than 5 missing values in the columns

In [45]:
df_movies = df_movies.dropna(thresh=23)## since number of columns is 28, 28-5 = 23

In [46]:
len(df_movies)

4899

### Missing values in Language column

In [47]:
df_movies[df_movies['language'].isnull()]['country']

3086    USA
3539    USA
3869    USA
4110    USA
4409    USA
4630    USA
4810    USA
4885    USA
4958    USA
Name: country, dtype: object

### We see that the country for movies with missing language is USA, so we can replace the missing value with English

In [48]:
dd

NameError: name 'dd' is not defined

In [50]:
df_movies['language'].fillna('English', inplace=True)

/Users/siddharth/anaconda3/envs/datascience/lib/python3.7/site-packages/pandas/core/series.py:4523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [52]:
df_movies['lang_country'].fillna('English, USA', inplace=True)

/Users/siddharth/anaconda3/envs/datascience/lib/python3.7/site-packages/pandas/core/series.py:4523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [53]:
df_movies.isnull().sum()

color                          0
director_name                 93
num_critic_for_reviews        41
duration                      13
director_facebook_likes       93
actor_3_facebook_likes        12
actor_2_name                   5
actor_1_facebook_likes         2
gross                        847
genres                         0
actor_1_name                   2
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  12
facenumber_in_poster          13
plot_keywords                145
movie_imdb_link                0
num_user_for_reviews          14
language                       0
country                        2
content_rating               284
budget                       472
title_year                    94
actor_2_facebook_likes         5
imdb_score                     0
aspect_ratio                 313
movie_facebook_likes           0
primary_genre                  0
lang_country                   0
dtype: int64

### Aspect Ratio

In [54]:
df_movies['aspect_ratio'].value_counts()

2.35     2283
1.85     1867
1.78      107
1.37       99
1.33       64
1.66       62
16.00      45
2.39       15
2.20       14
4.00        6
2.00        5
1.75        3
2.40        3
2.76        3
2.55        2
1.50        2
2.24        1
1.20        1
1.18        1
1.44        1
1.77        1
1.89        1
Name: aspect_ratio, dtype: int64

### There are total 313 missing values in the aspect ratio, if the difference between the first and second most common aspect ratio was big, we could simply fill all these 313 missing values with 2.35. Butt now we will divide them in the ratio of 2283/1867

In [56]:
313/(2283/1867)

255.96627244853264

### We can fill 255 null aspect ratios with 2.35 and 313-255 = 58 null aspect values with the aspect ratio 1.85

We will randomly select these 255 rows from the 313 rows and fill 2.35 there and fill 1.85 in the remaining rows

In [57]:
import random
aspect_random1 = random.sample(df_movies[df_movies['aspect_ratio'].isnull()].index.tolist(),255)

In [58]:
aspect_random2 = [i for i in df_movies[df_movies['aspect_ratio'].isnull()].index.tolist() 
                  if i not in aspect_random1]

In [59]:
df_movies.loc[aspect_random1,'aspect_ratio'] = 2.35

/Users/siddharth/anaconda3/envs/datascience/lib/python3.7/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [60]:
df_movies.loc[aspect_random2,'aspect_ratio'] = 1.85

/Users/siddharth/anaconda3/envs/datascience/lib/python3.7/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [61]:
df_movies.isnull().sum()

color                          0
director_name                 93
num_critic_for_reviews        41
duration                      13
director_facebook_likes       93
actor_3_facebook_likes        12
actor_2_name                   5
actor_1_facebook_likes         2
gross                        847
genres                         0
actor_1_name                   2
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  12
facenumber_in_poster          13
plot_keywords                145
movie_imdb_link                0
num_user_for_reviews          14
language                       0
country                        2
content_rating               284
budget                       472
title_year                    94
actor_2_facebook_likes         5
imdb_score                     0
aspect_ratio                   0
movie_facebook_likes           0
primary_genre                  0
lang_country                   0
dtype: int64

### Next we can delete rows with missing values in director name and title year, since we cannot substitute it with anything except the right values

In [62]:
df_movies.dropna(subset=['director_name','title_year'], inplace=True)

/Users/siddharth/anaconda3/envs/datascience/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
df_movies.isnull().sum()

color                          0
director_name                  0
num_critic_for_reviews        38
duration                      11
director_facebook_likes        0
actor_3_facebook_likes        12
actor_2_name                   5
actor_1_facebook_likes         2
gross                        755
genres                         0
actor_1_name                   2
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  12
facenumber_in_poster          13
plot_keywords                138
movie_imdb_link                0
num_user_for_reviews          13
language                       0
country                        1
content_rating               253
budget                       385
title_year                     0
actor_2_facebook_likes         5
imdb_score                     0
aspect_ratio                   0
movie_facebook_likes           0
primary_genre                  0
lang_country                   0
dtype: int64

### Budget and Gross
### Let's fill the missing values in these columns with the median of the column

In [70]:
df_movies['budget'] = df_movies['budget'].fillna(value=df_movies['budget'].median())

/Users/siddharth/anaconda3/envs/datascience/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
df_movies['budget'].isnull().sum()

0

In [72]:
df_movies['gross'] = df_movies['gross'].fillna(value=df_movies['gross'].median())

/Users/siddharth/anaconda3/envs/datascience/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [73]:
df_movies['gross'].isnull().sum()

0

In [74]:
df_movies.isnull().sum()

color                          0
director_name                  0
num_critic_for_reviews        38
duration                      11
director_facebook_likes        0
actor_3_facebook_likes        12
actor_2_name                   5
actor_1_facebook_likes         2
gross                          0
genres                         0
actor_1_name                   2
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  12
facenumber_in_poster          13
plot_keywords                138
movie_imdb_link                0
num_user_for_reviews          13
language                       0
country                        1
content_rating               253
budget                         0
title_year                     0
actor_2_facebook_likes         5
imdb_score                     0
aspect_ratio                   0
movie_facebook_likes           0
primary_genre                  0
lang_country                   0
dtype: int64

## ffill and bfill

### Let's look at the forward and backward fill methods

In [81]:
### Creating a test dataframe
cols = {'A':[0,np.nan,4],'B':[np.nan,9,90]}
df_test = pd.DataFrame(cols)

In [82]:
df_test

     A     B
0  0.0   NaN
1  NaN   9.0
2  4.0  90.0

In [83]:
df_test.bfill(axis=0)# axis=0 is for operation along the column, axis=1 is for along the row

     A     B
0  0.0   9.0
1  4.0   9.0
2  4.0  90.0

For column A, the bfill method filled the missing value in row 1 with the value in row 2, similarly for column B, it filled the missing value in the first row with the value in second row

In [84]:
df_test

     A     B
0  0.0   NaN
1  NaN   9.0
2  4.0  90.0

In [85]:
df_test.ffill(axis=0)

     A     B
0  0.0   NaN
1  0.0   9.0
2  4.0  90.0

The ffill method replaced the missing value in the second row of column A with the value in the first row. Since there is no row above the first row, the missing value in the first row of column B was not replaced